.aboutText{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  p{
    margin-bottom: 10px;
  }
}
.register{
  background: #f5f4f4;
  padding-top: 235px;
  margin-top: -135px;
  padding-bottom: 100px;
}