.award{
  padding: 100px 0;
  .awardInner{
    display: flex;
    align-items: center;
    gap: 30px;
    .awardText{
      width: 67%;
      padding-top: 20px;
      h2{
        font-size: 40px;
        font-weight: 600;
        color: var(--dark);
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 10px;
      }
    }
    .awardImg{
      width: 33%;
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 916px) {
  .award{
    .awardInner{
      flex-direction: column;
      align-items: flex-start;
      .awardText{
        width: 100%;
      }
      .awardImg{
        width: auto;
      }
    }
  }
}