.register{
  background: var(--white);
  padding-top: 100px;
  margin-top: 0;
  padding-bottom: 0;
}
.classesWrapper{
  padding: 90px 0 90px;
}

.classesTitle{
  text-align: center;
  margin-bottom: 45px;
  h2{
    color: var(--dark);
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.classes{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

